$white: rgb(232, 232, 232);
$primary-font:'Poiret One',
cursive;
$nice-blue: #0e72cf;
$main-background-gradient:radial-gradient(circle at 50%, rgb(155, 84, 173) 0%, #212121);




html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: radial-gradient(circle at 50%, rgb(155, 84, 173) 0%, #212121);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  contain: content;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}