$black: #212121;
$Primary-color: #ad54a4;
$Secondary-color: #db6c6d;
$white: rgba(242, 242, 242, 1);
$gradient: linear-gradient(90deg, #ad54a4 0%, #db6c6d 64%);
$main-background-gradient:radial-gradient(circle at 50%, rgb(155, 84, 173) 0%, #212121);

$primary-font: "Poiret One",
cursive;
$logo-font: "Coiny",
cursive;
$secondary-font: "Montserrat",
sans-serif;



.animations {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;


}

.rollLeft,
.rollRight,
.rise,
.fall,
.dipSetUp,
.flubber,
.fade,
.cartWheel,
.flipX,
.flipY,
.spinOut,
.flubUp,
.bigIn,
.spinIn,
.flipIn,
.fallIn,
.arriveLeft,
.arriveRight {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  width: 150px;
  height: 150px;
  margin: 30px;
  background-image: $main-background-gradient;
  display: inline-block;
  border-radius: 20%;
  box-shadow: 3px 5px 20px rgba(3, 3, 3, 0.611);
}

p {
  margin: 50px auto;
  text-align: center;
  color: $white;
  font-size: 1.3rem;
  font-family: $secondary-font;
  font-weight: bolder;
  letter-spacing: 3px;
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade {
  opacity: 1;

  &:hover {
    animation: fade 1s alternate;
    cursor: pointer;
  }
}

.flubber {

  &:hover {
    animation: flubber 1s alternate;
    cursor: pointer;
  }
}

@keyframes flubber {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.fall {
  &:hover {
    animation: fall 1s alternate;
    cursor: pointer;
  }
}

@keyframes fall {
  from {
    transform: translateY(0px);
    opacity: 1;
  }

  to {
    transform: translateY(300px);
    opacity: 0;
  }
}

.fall {
  &:hover {
    animation: fall 1s forwards;
    cursor: pointer;
  }
}

.rise:hover {
  cursor: pointer;
  animation: rise 1s alternate;
}

@keyframes rise {
  from {
    transform: translateY(0px);
    opacity: 1;
  }

  to {
    transform: translateY(-300px);
    opacity: 0;
  }
}




.cartWheel {

  &:hover {
    animation: cartWheel 1s alternate;
    cursor: pointer;

  }

}

@keyframes cartWheel {

  to {
    transform: rotate(360deg);
  }
}

.flipX:hover {
  animation: flipX 1s forwards;
  cursor: pointer;
}

@keyframes flipX {

  to {
    transform: rotateX(360deg);

  }
}

.flipY:hover {
  animation: flipY 1s forwards;
  cursor: pointer;
}

@keyframes flipY {

  to {
    transform: rotateY(360deg);
  }
}

.rollLeft:hover {
  cursor: pointer;
  animation: rollLeft 1s alternate;
}

@keyframes rollLeft {
  from {
    opacity: 1;
  }

  to {
    transform: translateX(-300px) rotate(-360deg);
    opacity: 0;
  }
}

.rollRight:hover {
  cursor: pointer;
  animation: rollRight 1s alternate;
}

@keyframes rollRight {
  from {
    opacity: 1;

  }

  to {
    transform: translateX(300px) rotate(360deg);
    opacity: 0;
  }
}

.spinOut:hover {
  animation: spinOut 1s alternate;
  cursor: pointer;
}

@keyframes spinOut {

  to {
    transform: rotate(360deg) scale(0);
    opacity: 0;
  }
}

.flubUp {
  &:hover {
    cursor: pointer;
    animation: flubUp 1s 100ms;
  }
}

@keyframes flubUp {

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bigIn:hover {
  animation: bigIn 1s;
  cursor: pointer;
}

@keyframes bigIn {
  from {
    opacity: 0;
    transform: scale3d(2, 2, 2)
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1)
  }
}

.spinIn:hover {
  animation: spinIn 1s;
  cursor: pointer;
}

@keyframes spinIn {
  from {
    opacity: 0;
    transform: scale3d(2, 2, 2) rotate(360deg);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1) rotate(0deg);
  }
}

.flipIn:hover {
  animation: flipIn 1s;
  cursor: pointer;
}

@keyframes flipIn {
  from {
    opacity: 0;
    transform: scale3d(2, 2, 2) rotateY(360deg);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1) rotateY(0deg);
  }
}

.fallIn {
  &:hover {
    cursor: pointer;
    animation: fallIn 1s 100ms;
  }
}

@keyframes fallIn {

  from {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.arriveLeft {
  &:hover {
    cursor: pointer;
    animation: arriveLeft 1s 100ms;
  }
}

@keyframes arriveLeft {

  from {
    opacity: 0;
    transform: translate3d(-300px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }

  75% {
    transform: translate3d(0, 0, -3px);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.arriveRight {
  &:hover {
    cursor: pointer;
    animation: arriveRight 1s 100ms;
  }
}

@keyframes arriveRight {

  from {
    opacity: 0;
    transform: translate3d(300px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }

  75% {
    transform: translate3d(0, 0, 3px);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}