.col-sm {
    width: 20vmax;
    height: 20vmax;
    background: linear-gradient(90deg, #ad54a4 0%, #db6c6d 64%);
    box-shadow: -4px -4px 10px rgb(203, 110, 139), 4px 4px 10px rgb(193, 96, 98);
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.036);
    margin: 5px;
}