.animations {
  // animation: flubber 1s ease-in-out alternate;


}

.col-md {
  width: 200px;
  height: 200px;
  margin: 5px;
  background-color: pink;
  text-align: center;
  border-radius: 10px;
}


@keyframes fallAway {
  from {
    opacity: 0;
    transform: scale(1);
  }

  to {
    transform: scale(0);
    opacity: 1;
  }
}

.fallAway {
  &:hover {
    animation: fallAway 2s forwards;
    cursor: pointer;

  }
}

.flubber {
  &:hover {
    animation: flubber 1.5s alternate;
  }
}

@keyframes flubber {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.dipSet {
  &:hover {
    animation: dipSet 2s alternate;
  }
}

@keyframes dipSet {
  from {
    transform: translateY(0px);
    opacity: 1;
  }

  to {
    transform: translateY(300px);
    opacity: 0;
  }
}