$white: rgb(232, 232, 232);
$primary-font:'Poiret One',
cursive;
$nice-blue: #0e72cf;
$main-background-gradient:radial-gradient(circle at 50%, rgb(155, 84, 173) 0%, #212121);


.authorText {
    color: #212121;
    font-family: $primary-font;
    font-weight: bolder;
    font-size: 3rem;
}

.col- {
    margin: 0px 50px 50px 50px;
}

.card {
    background-image: $main-background-gradient;
    box-shadow: 2px 2px 8px 2px rgb(28, 4, 28);
}

.card-title {
    color: $white;
}

.repoIcon {
    font-size: 3rem;
}