@import "./variables";

.authorContainer {
    margin-bottom: 120px;
    flex-wrap: wrap;
}


.authorText {
    color: $white;
    font-family: $primary-font;
    font-weight: bolder;
    font-size: 3rem;
    letter-spacing: 5px;
}

.col- {
    margin: 0px 50px 50px 50px;
}

.card {
    background-image: $main-background-gradient;
    box-shadow: 2px 2px 8px 2px rgb(28, 4, 28);
}

.card-title {
    color: $white;
}

.repoIcon {
    font-size: 2rem;
    position: absolute;
    bottom: 0;
}