// Fonts
$primary-font: "Poiret One",
cursive;
$logo-font: "Coiny",
cursive;
$secondary-font: "Montserrat",
sans-serif;

/* Color Theme Swatches in RGBA */
$Primary-color: #ad54a4;
$Secondary-color: #db6c6d;
$black: #212121;
$white: rgba(242, 242, 242, 1);
$gradient: linear-gradient(90deg, #ad54a4 0%, #db6c6d 64%);

.homeLogo {
  display: flex;
  width: 50vh;
  margin: -0vh auto;

  &:hover {
    cursor: auto !important;
  }
}

#animations {
  font-weight: bolder;
  font-family: $primary-font;
  line-height: 2;
  background: -webkit-linear-gradient(#212121, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6vmin;
  margin-left: 30px;
  letter-spacing: 5px;
  animation: slideUp 1.7s ease-in-out alternate;
}

.readyText {
  display: flex;
  position: sticky;
  font-weight: bolder;
  line-height: 2;
  justify-content: center;
  font-family: $primary-font;
  background: -webkit-linear-gradient(#212121, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6vmin;
  letter-spacing: 5px;
  animation: slideUp 1.5s ease-in-out alternate;
}



@keyframes slideUp {
  from {
    transform: translateY(500px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}