@import "./variables";

.homeContent {
  animation: bounceInUp 1s;
}

.homeLogo {
  display: flex;
  width: 50vh;
  margin: auto;

  &:hover {
    cursor: auto !important;

  }
}

#animations {
  font-weight: bolder;
  font-family: $primary-font;
  line-height: 2;
  background: -webkit-linear-gradient(#212121, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6vmin;
  margin-left: 30px;
  letter-spacing: 5px;
  animation-name: bounceIn;

}

.readyText {
  display: flex;
  position: sticky;
  font-weight: bolder;
  line-height: 2;
  justify-content: center;
  font-family: $primary-font;
  background: -webkit-linear-gradient(#212121, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6vmin;
  letter-spacing: 5px;

}


.signInHome {
  display: block;
  justify-content: center;
  font-family: $primary-font;
  letter-spacing: 3px;
  text-decoration: none;
  font-weight: bolder;
  margin: 0 auto;
  margin-bottom: 80px;
  width: 30vw;
  background: $new-gradient;
  border-radius: 3px;
  border: none;
  color: white;
  padding: 15px;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);

  &:hover {
    transform: scale(1.05);
    transition-duration: 300ms;
    box-shadow: 0 3px 9px 2px rgba(255, 105, 135, 0.418);
    opacity: 0.9;
    text-decoration: none;

  }
}

a:hover {
  text-decoration-color: transparent !important;
}



.homeContent {
  animation: fallIn 1s;
}

@keyframes fallIn {

  from {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}