$primary-font: "Poiret One",
cursive;
$logo-font: "Coiny",
cursive;
$secondary-font: "Montserrat",
sans-serif;

$Primary-color: #ad54a4;
$Secondary-color: #db6c6d;
$black: #212121;
$white: rgba(242, 242, 242, 1);
$gradient: linear-gradient(90deg, #ad54a4 0%, #db6c6d 90%);
$new-gradient: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);

.pagination {
    display: flex;
    width: 200px;
    margin: 30px auto;

}

.page-item {
    color: $black;
    box-shadow: -4px -4px 14px $Primary-color, 4px 4px 14px #00000091;
    text-align: center;
    font-family: $primary-font;
    font-weight: bolder;
    border: 1px solid black;
    margin: 1px;

}

.active .page-link {
    background-image: $new-gradient !important;
    color: $white !important;
    border-color: $black !important;
    transform: scale(1.1);

}

.page-item :hover {
    background-image: $new-gradient !important;
    transform: scale(1.11);
    border-color: $black !important;

}