@import "./variables";

.pagination {
    display: flex;
    width: 200px;
    margin: 30px auto;

}

.page-link {
    color: $black;
    box-shadow: -4px -4px 14px $Primary-color, 4px 4px 14px #00000091;
    text-align: center;
    font-family: $secondary-font;
    font-weight: bolder;
    border: 1px solid black;
    background-image: $new-gradient;
    margin: 0.5px;

}

.active .page-link {
    background-image: $main-background-gradient !important;
    color: $white !important;
    border-color: $black !important;
    transform: scale(1.1);
    box-shadow: none;

}

.page-item :hover {
    background-image: $main-background-gradient !important;
    transform: scale(1.11);
    border-color: $black !important;
}