$primary-font: "Poiret One",
cursive;
$logo-font: "Coiny",
cursive;
$secondary-font: "Montserrat",
sans-serif;

$Primary-color: #ad54a4;
$Secondary-color: #db6c6d;
$black: #212121;
$white: rgba(242, 242, 242, 1);
$gradient: linear-gradient(90deg, #ad54a4 0%, #db6c6d 90%);
$new-gradient: linear-gradient(60deg, #FE6B8B 0%, #FF8E53 90%);
$main-background-gradient:radial-gradient(circle at 50%, rgb(155, 84, 173) 0%, #212121);


.pagination {
    display: flex;
    width: 200px;
    margin: 30px auto;

}

.page-link {
    color: $black;
    box-shadow: -4px -4px 14px $Primary-color, 4px 4px 14px #00000091;
    text-align: center;
    font-family: $secondary-font;
    font-weight: bolder;
    border: 1px solid black;
    background-image: $new-gradient;
    margin: 0.5px;

}

.active .page-link {
    background-image: $main-background-gradient !important;
    color: $white !important;
    border-color: $black !important;
    transform: scale(1.1);
    box-shadow: none;

}

.page-item :hover {
    background-image: $main-background-gradient !important;
    transform: scale(1.11);
    border-color: $black !important;
}