@import "./_variables";

.profileContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

// .userName {
//   display: flex;
//   margin: 10px auto;
//   font-family: $primary-font;
//   font-size: 3rem;
//   text-align: center;
// }

.profilePlaymations {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  //   width: 150px;
  //   height: 150px;
  //   margin: 30px;
  //   background-image: $main-background-gradient;
  display: inline-block;
  //   padding: 50px;
  //   border-radius: 20%;
  //   box-shadow: 3px 5px 20px rgba(3, 3, 3, 0.611);
}
