@import "./_variables";

.profileContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.profileName {
  font-family: $primary-font;
  margin-left: 45px;
  margin-bottom: 20px;
  font-size: 5vmin;
  font-weight: bolder;
  color: $white;
  justify-content: center;
  letter-spacing: 2px;
}

.profilePlaymations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-weight: bolder;
  font-family: $primary-font;
  letter-spacing: 3px;
  font-size: 3vmin;
  color: $white;
  &:hover {
    transform: scale(1.05);
    color: $Secondary-color;
  }
}

//this width of the icon is being shared with the amimations page
.iconIsolated {
  width: 25vmin;
  flex-wrap: wrap;
  &:hover {
    transform: scale(1.1);
    transition: 500ms;
  }
}
