@import "./variables";

.profileContainer {
    display: block;
    text-align: center;
    max-width: 10vw;

}

.userName {
    margin: 20px auto;
    font-family: $primary-font;
    color: $black;
    text-align: center;
}