@keyframes slideUp {
    from {
        transform: translateY(500px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}